<b>Alert type:</b> Diverging State Hashes ❌
<b>Details:</b> Nodes on the same chain have diverging state hashes at{{ .SameHeight}}
{{ with .FirstGroup }}
<i>BlockID:</i> <code>{{ .BlockID}}</code>
<i>State Hash:</i> <code>{{ .StateHash}}</code>
<i>Nodes:</i>{{range .Nodes}}
<code>{{.}}</code>{{end}}{{end}}
{{ with .SecondGroup }}
<i>BlockID:</i> <code>{{ .BlockID}}</code>
<i>State Hash:</i> <code>{{ .StateHash}}</code>
<i>Nodes:</i>{{range .Nodes}}
<code>{{.}}</code>{{end}}{{end}}
{{ if .LastCommonStateHashExist }}
<u>Fork</u> occurred after block <code>{{ .ForkHeight}}</code>
<i>BlockID:</i> <code>{{ .ForkBlockID}}</code>
<i>State Hash:</i> <code>{{ .ForkStateHash}}</code>
{{ end }}
