name: build
on: [ push, pull_request ]

jobs:
  golangci:
    name: lint
    runs-on: ${{ matrix.os }}
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != 'wavesplatform/nodemon'
    strategy:
      matrix:
        os: [ macos-latest, windows-latest, ubuntu-latest ]

    steps:
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
      - name: Set up Go 1.25
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: 1.25.x
          check-latest: true
          cache: false # don't save & restore build caches because golangci-lint action does it internally
      - name: Get dependencies
        run: go mod vendor
      - name: golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v8
        with:
          version: latest
          args: -c .golangci.yml
      # Check for modern Go code patterns
      - name: modernize check
        run: go run golang.org/x/tools/gopls/internal/analysis/modernize/cmd/modernize@latest ./...

  build:
    name: ubuntu
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != 'wavesplatform/nodemon'

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Set up Go 1.25
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: 1.25.x
          check-latest: true
          cache: true

      - name: Set up GolangCI-Lint
        run: curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh| sh -s -- -b $HOME/bin latest

      - name: Check out code into the Go module directory
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0

      - name: Get dependencies
        run: make vendor

      - name: Build
        run: export PATH="$HOME/bin:$PATH"; make all

      - name: Test with race detector
        run: go test -race -coverprofile=coverage.txt -covermode=atomic ./...
